# Ignore all of this files in the project directory
*.env
*.exe
*.log
*.md
*.ps1
*.py
*.txt
*.vbs

# Include Changelog to be tracked by git
!Changelog.log

# Ignore specific files in the project directory
AutoAlignWizard.bas
Macro2.bas
verify_quota_optimization.cpython-313.pyc
